## 3分钟学会Python读写MySQL数据库

In [1]:
import db
## 微信公众号名字：蚂蚁学Python

### 1、查询数据列表

In [2]:
query_sql = "select * from user"
db.query_data(query_sql)

[{'id': 1,
  'name': 'xiaoming',
  'sex': 'man',
  'age': 21,
  'email': 'xiaoming@qq.com'},
 {'id': 2,
  'name': 'xiaohong',
  'sex': 'women',
  'age': 22,
  'email': 'xiaohong@qq.com'}]

### 2、新增一条数据

In [3]:
insert_sql = """
        insert user (name, sex, age, email) 
        values('mayi', 'man', 20, 'mayi@qq.com')
    """
db.insert_or_update_data(insert_sql)

In [4]:
db.query_data(query_sql)

[{'id': 1,
  'name': 'xiaoming',
  'sex': 'man',
  'age': 21,
  'email': 'xiaoming@qq.com'},
 {'id': 2,
  'name': 'xiaohong',
  'sex': 'women',
  'age': 22,
  'email': 'xiaohong@qq.com'},
 {'id': 3, 'name': 'mayi', 'sex': 'man', 'age': 20, 'email': 'mayi@qq.com'}]

### 3、更新一条数据

In [5]:
update_sql = "update user set name='damayi' where id=3"
db.insert_or_update_data(update_sql)

In [6]:
db.query_data(query_sql)

[{'id': 1,
  'name': 'xiaoming',
  'sex': 'man',
  'age': 21,
  'email': 'xiaoming@qq.com'},
 {'id': 2,
  'name': 'xiaohong',
  'sex': 'women',
  'age': 22,
  'email': 'xiaohong@qq.com'},
 {'id': 3, 'name': 'damayi', 'sex': 'man', 'age': 20, 'email': 'mayi@qq.com'}]